<div class="btn index-btn" [class.passed]="solution" [class.not-passed]="!_solution" (click)="openModal()"> 
  <div class="index">{{ index }}</div>
</div>


<div class="modal-quest-info-wrapper" *ngIf="isOpenModal">
  <div class="quest-content" (clickOutside)="closeModal()">
    <div class="quest-header">
      <div class="title">{{ quest.name }}</div>
      <div class="quest-type">{{ quest.type }}</div>
    </div>

    <div class="description">
      {{ quest.description }}
    </div>
    <div class="links">
      <div class="link-title">Ссылки по которым вы можете узнать дополнительную информацию</div>
      <div class="links-wrapper">
        <a *ngFor="let link of quest.links; let index = index;" [attr.href]="link.link" class="link">{{ link.link | link }}</a>
      </div>
    </div>
    <div class="solution-wrapper">
      <input type="text" placeholder="Ответ" class="solution" [(ngModel)]="_solution">
    </div>

  </div>
</div>

<div class="modal-error" *ngIf="showError" (clickOutside)="closeError()">
  <div class="title">Завершите предыдущее задание.</div>
  <div class="description">Для того чтобы приступить к данному заданию, завершите предыдущее.</div>
</div>

<div class="overlay" *ngIf="isOpenModal || showError"></div>

