
<ng-container *ngIf="!login">
  <app-login (logEmit)="signin($event)"></app-login>
</ng-container>
<ng-container *ngIf="isOpenQuestModal && isCreateQuest">
  <app-edit-quest-modal 
    [create]="isCreateQuest" 
    (onClose)="closeEditModal()">
  </app-edit-quest-modal>
</ng-container>
<ng-container *ngIf="isOpenQuestModal && !isCreateQuest">
  <app-edit-quest-modal 
    [create]="isCreateQuest" 
    [quest]="quests[indexEdit]" 
    (onClose)="closeEditModal()">
  </app-edit-quest-modal>
</ng-container>


<ng-container *ngIf="login">
  <div class="admin-wrapper">
    <div class="container">
      
      <div class="col l7">
        <div class="quests-header">
          <button class="btn add-quests-btn" (click)="openCreateQuest()">+</button>
          <h2>Квесты</h2>
        </div>
        <div class="loader-wrapper" *ngIf="isQuestsLoad">
          <div class="loader"></div>
          Загрузка квестов
        </div>
        <ng-container *ngIf="!isQuestsLoad">
          <div class="quest" *ngFor="let quest of quests; let index = index;">
            <div class="quest-header">
              <div class="quest-name"> {{ quest.name }} </div>
              <div class="quest-description">{{ quest.type }} | {{ quest.solution }}</div>
            </div>
            <div class="quest-content">
              {{ quest.description | slice:0:200 }}<ng-container *ngIf="quest.description.length >= 200">...</ng-container>
            </div>
            <div class="quest-footer">
              <button class="btn quest-edit-btn" (click)="openEditQuest(index)">Редактировать</button>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="col l5 users">
        <h2>Участвовашие</h2>
        <div class="loader-wrapper" *ngIf="isUsersLoad">
          <div class="loader"></div>
          Загрузка участовавших
        </div>
        <div class="users-wrapper" *ngIf="!isUsersLoad">
          <div class="user" *ngFor="let user of users">
            <div class="user-name">{{ user.firstName }} {{ user.lastName }}</div>
            <div class="user-control">test</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</ng-container>