<div class="container">
  <div class="form-wrapper">
    <div class="form" [formGroup]="user" (change)="onChange()">
      <div class="error-message" *ngIf="formValid ">Введены невалидные данные</div>
      <input formControlName="firstName" type="text" placeholder="Имя">
      <input formControlName="lastName" type="text" placeholder="Фамиллия">
      <input formControlName="group" type="text" placeholder="Группа">
      <button class="btn" (click)="start()">Перейти к квесту</button>
    </div>

  </div>
</div>