@import '~assets/colors.styl'

.quest
	&s-list
		width: 100%
		display flex
	&-wrapper
		display inline-block
		margin-top 10px
		padding 0 5px

.done-btn 
	position fixed
	bottom 15px
	right 20px
	// border 1px solid $primary
	background-color $primary
	box-shadow 0 4px 15px -1px rgba($primary, 0.5)
	// color $primary
	color #fff
	border-radius 10em
	height 40px
	padding 0 20px
	font-size 16px
	
