@import '~assets/colors.styl'

.quest-wrapper
	height 100vh



.quest 
	width: 60px
	padding-top 100%
	position relative
	border-radius 7px
	border: 1px solid rgba($primary, .2)
	box-shadow 0 1px 5px 0 rgba(#000, 0.25)
	transition 0.3s
	&-index
		position absolute
		top 5px
		left 5px
		color $primary
		text-align center
