<app-modal *ngIf="isModalOpen" (checkUser)="closeModal()"></app-modal>
<app-modal-quest-done *ngIf="isModalDoneOpen" [data]="doneData"></app-modal-quest-done>

<div class="quests-wrapper" *ngIf="!isModalOpen && !isLoadQuests">
	<div class="container">
		<div class="quests-list">
			<div class="quest-wrapper" *ngFor="let quest of quests; let index = index;">
				<app-quest-item [index]="index+1" [quest]="quest" (solution)="setSolution($event, index)"></app-quest-item>
			</div>
		</div>
	</div>
</div>

<div class="loader-wrapper" *ngIf="isLoadQuests">
	<div class="loader"></div>
	Загрузка квестов
</div>

<button class="btn done-btn" (click)="submitTest()">Завершить</button>