<div class="main-wrapper">
  <div class="container">
    
    <div class="col l8">
      <div class="vert-center">
        <h1>Квест по предмету статистика</h1>
        <p class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, aliquam ipsa. Quis voluptas molestias, natus ut itaque tempore? Expedita, officia.
        </p>
      </div>
    </div>
    <div class="col l4">
      <div class="rock-wrapper">
        <div class="btn-wrapper">
          <a class="link btn work-btn" [routerLink]="['/quest']">Перейти к квесту</a>
        </div> 
      </div>
    </div>
  </div>
</div>